.chart-container {
  border-left: 8px double rgba(255, 255, 255, 0.788);
  border-bottom: 8px double rgba(255, 255, 255, 0.788);
  background-color: #373859;
  height: 350px;
  max-width: 780px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 5px #474872;
}
