.chart-container {
  border-left: 8px double rgb(34, 51, 84);
  border-bottom: 8px double rgb(34, 51, 84);
  background-color: rgb(255, 255, 255);
  height: 350px;
  max-width: 780px;
  box-shadow: rgb(159 162 191 / 18%) 0px 9px 16px,
    rgb(159 162 191 / 32%) 0px 2px 2px;
  border-radius: 10px;
}
