.state-selector {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .state-menu {
    position: relative;

    .arrow-container {
      position: absolute;
      z-index: 2;
      top: 1px;
      right: 1px;
      background-color: white;
      height: 31px;
      width: 31px;
      pointer-events: none;

      img {
        object-fit: cover;
      }
    }
  }

  .state-title {
    font-size: 24px;
    font-weight: 600;
  }

  select {
    min-width: 200px;
    height: 35px;
    font-size: 18px;
    border: none;
    box-shadow: rgb(159 162 191 / 18%) 0px 9px 16px,
      rgb(159 162 191 / 32%) 0px 2px 2px;
  }
}
